# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
test.py
response.py
companycodeset.py
company_details.py
venv
working
src/__pycache__
app.py
.env
env.json